
  
  html, body {
    background-color: #ddd;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 50;
  }
  
  .app-bar {
    background-color: #1B1F21;
    padding: 15px 15px;
    text-align: center;
  }
  
  .app-bar-title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    word-spacing: 6px;
  }
  
  .app-section {
    margin: 0 auto;
    width: 50%;
    
    
  }
  
  .selector {
    width: 30%;
  }
  
  .selector-label {
    
    font-weight: 100;
    width: 50%;
  }
    
  .center {
    text-align: center;
  }
  
  .top-margin {
    margin-top: 5rem;
  }
  
  .top-margin-small {
    margin-top: 2rem; 
  }